[Unit]
Description=Gunicorn instance for Storyboard Python backend application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/evx-application/python/storyboard
ExecStart=/home/ubuntu/anaconda3/envs/skillflo/bin/gunicorn --workers 1 --bind 0.0.0.0:6001 --timeout 30000 app:app

[Install]
WantedBy=multi-user.target