[Unit]
Description=Chromadb Service File
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/lib
ExecStart=/home/ubuntu/anaconda3/envs/chroma/bin/chroma run \
    --host 0.0.0.0 \
    --port 8080 \
    --path /var/lib/chromadb \
    --log-path /var/log/chromadb
Environment=PATH=/home/ubuntu/anaconda3/envs/chroma/bin:$PATH
Restart=always

[Install]
WantedBy=multi-user.target