[Unit]
Description=Chromadb Service File
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/lib/chromadb
ExecStart=/home/ubuntu/anaconda3/envs/skillflo/bin/chroma run \
    --host 0.0.0.0 \
    --port 8000 \
    --path /var/lib/chromadb/data \
    --log-path /var/lib/chromadb/chroma.log
Environment=PATH=/home/ubuntu/anaconda3/envs/skillflo/bin:$PATH
Restart=always

[Install]
WantedBy=multi-user.target